@charset "utf-8";
@import "compass/css3";

@mixin medium {
  font-size: 14px;
}
@mixin small {
  font-size: 12px;
}

.cassette {
  display: block;
}

.item {
  @extend .cassette;
  @include medium;
  
}
.list {
  @extend .cassette;
  @include small;
}
